.footer {
  background: var(--footer-bgcolor);
  width: 100%;
  text-align: center;
}


.footer .logo{
  text-align: center;
  line-height:150px;
  font-weight: 900;
  font-size: 48px;
  font-family: "Varela Round", sans-serif;
  font-family: 'Great Vibes', cursive;


  color:white;
}

.footer p{
  line-height: 100px;
  font-size: 12px;
  letter-spacing: 1px;
  color:white;
}
