.signup{
    margin:auto;
    padding-top: 30px;
    box-sizing: border-box;
    min-height:55vh;
    padding-bottom: 100px;
    position: relative;
    /* border:1px solid black; */


}
.signup-form{
    border-radius: 10px;
    max-width: 600px;
    background: var(--form-bgcolor);
    display: flex;
    flex-direction: column;
    padding:20px;
    align-items: center;
    margin:auto;
}

.signup-form input{
    border:none;
    border-radius: 5px;
    border: 1px solid gray;
    margin:12px;
    padding:10px;
    width:100%;
    outline:none;
    transition: all 0.2s ease;
    font-size:14px;
}
.signup-form input::placeholder{
    color:gray;
}
.signup-form input:focus::placeholder{
    font-size:12px;
}
.signup-form input:focus{
    padding:13px;

}
.signup-form button{
    background:#03a6ff;
    outline:none;
    border:none;
    border-radius: 5px;
    color:#f7f9f9;
    font-size:15px;
    font-weight: bold;
    letter-spacing: 1px;
    padding:10px;
    margin:20px;
    width:100%;
    cursor: pointer;
}

@media (max-width:900px){
    .signup{
        /* margin:auto 20px;
        margin-top: 30px;
        margin-bottom: 30px; */

        padding: 30px 20px;

    }
}